.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #ededed;
    width: 345px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 0px 12px #000;
}

.calculadora td button{
display: block;
width: 70px;
height: 70px;
font-size: 25px;
}

.nums{
    border: 0px;
    background-color: #fff;
    color: #666;
}

.op{
    background-color: #000;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.op:hover{
    box-shadow: 0px 0px 12px #000;
    transition: all 0.09s;
}

.nums:hover{
    box-shadow: 0px 0px 12px #aaa;
    transition: all 0.09s;
    }

.plus{
    background-color: #48c;
    color: #fff;
    border: none;

}

.plus:hover{
    box-shadow: 0px 0px 12px #48c;
}

#resultado{
    display: block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #666;
    border-radius: 25px;
    overflow: hidden;
    color: #eee;
}